<!DOCTYPE html>
<html lang="en">
<head>
  <title>REST API Server</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <H1>Backend REST API Application</H1>
  Base URL for the Backend API Server. 
  <br>
  <br>
  Here is the <a href="https://murmuring-ravine-44482.herokuapp.com" >client application</a>, which uses this API server as a back-end server.
  <br>
  <br>
  If you want to test this API Server with any client test application like Postman, please first sign-up yourself at <a href="https://murmuring-ravine-44482.herokuapp.com" >client application</a>, then use <a href="https://murmuring-ravine-44482.herokuapp.com/about?helper=true" >Client Test Helper</a> to create headers for the API server call. 

</body>
</html>
